$textBranco1: #fff;
$textPreto1: #000;

$mainBody1: #79BD9A;
$mainBody2: #6AB187;
$mainBody3: #55A573;

$heroBg1: #ffffffb3;
$heroBg2: #000000e6;
$heroBackbg1: #00000066;
$heroBackbg2: #00000080;

$infosBarBg: #E9F5EE;

$buttonBg1: #5DB38E;
$buttonBg2: #3A826C;

$eventBg1: #228B22;
$eventBg2: #5c9c35;
$eventBg3: #3CB371;
$eventBg4: #5EA17E;
$eventBg5: #D1A16C;
$eventBg6: #8B4513;
$eventBg7: #4A2E0F;