@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textBranco1;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

body {
    background-color: variables.$mainBody1;
    animation: plantGrowth 10s infinite;
    overflow-x: hidden;
}

@keyframes plantGrowth {
    0% {
        background-color: variables.$mainBody1;
    }
    25% {
        background-color: variables.$mainBody2;
    }
    50% {
        background-color: variables.$mainBody3;
    }
    75% {
        background-color: variables.$mainBody2;
    }
    100% {
        background-color: variables.$mainBody1;
    }
}